<div class="product-page">

  <div class="banner">
    <div class="container">
      <h1>{{ product.title }}</h1>

      <app-product-meta [product]="product">

        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', product.id]">
            <i class="ion-edit"></i> Editar Produt
          </a>

          <button class="btn btn-sm btn-outline-danger" [ngClass]="{disabled: isDeleting}" (click)="deleteProduct()">
            <i class="ion-trash-a"></i> Excluir Produto
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button [profile]="product.created_by" (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button [product]="product" (toggle)="onToggleFavorite($event)">
            {{ product.corporativo ? 'Corporativo' : 'Não Corporativo' }} Corporativo
          </app-favorite-button>
        </span>

      </app-product-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row product-content">
      <div class="col-md-12">

        <div [innerHTML]="product.description | markdown"></div>

      </div>
    </div>

    <hr />

    <div class="product-actions">
      <app-product-meta [product]="product">

        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', product.id]">
            <i class="ion-edit"></i> Editar Produto
          </a>

          <button class="btn btn-sm btn-outline-danger" [ngClass]="{disabled: isDeleting}" (click)="deleteProduct()">
            <i class="ion-trash-a"></i> Excluir Produto
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button [profile]="product.created_by" (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button [product]="product" (toggle)="onToggleFavorite($event)">
            {{ product.corporativo ? 'Unfavorite' : 'Favorite' }} Corporativo
          </app-favorite-button>
        </span>

      </app-product-meta>
    </div>

  </div>
</div>